.el-tree{
  border:0
}
.el-tree-node__label{
  font-size: 12px;
}
form_con .el-form-item{
  margin-bottom: 10px;
}
.form_con{
  border:1px solid #e0e0e0;
}
.tree_header,.form_header{
  height:56px;
  line-height: 56px;
  text-indent: 1em;
}
.tree_header{
  background-color: #ececec;
  border-right:1px solid #e0e0e0;
  border-bottom:1px solid #e0e0e0;
}
.optionTabs{
  border-bottom:1px solid #e0e0e0;
  padding-left: 12px;
}
.optionTabs span{
  display: inline-block;
  height: 35px;
  min-width:80px;
  line-height: 35px;
  text-align: center;
  padding: 0 10px;
  background-color: #f6f6f6;
  border:1px solid #e0e0e0;
  margin:10px 0;
  font-size: 14px;
  cursor: pointer;
}
.leftTree
  overflow: hidden;
  overflow-y:auto;
  height: 450px;
  background-color: #fafafa;
  border-right:1px solid #e0e0e0;
  ul
    margin: 13px 0;
    li
      padding-left:30px;
      height:45px;
      line-height: 45px;
      font-size:13px;
      cursor pointer
      &:hover
        background-color #599bec
        color #fff
.form_box{
  height:280px;
  padding: 50px 80px 40px;
  box-sizing: border-box;
}

.form_eventbox{
  height:180px;
  padding: 10px 160px 40px;
  box-sizing: border-box;
}
