/**
  主要是系统管理这块的样式
  layout  上下布局 左右布局
*/

border-color = #E7E7E7
.main-left
  .title
    background #ececec
    height 56px
    line-height 56px
    padding-left 15px
  .content
    background-color #fafafa
    min-height 200px
.main-right
  .title
    height 56px
    line-height 56px
    padding-left 15px
    .sub-title
      margin-right 10px
.border-top
  border-top 1px solid #E7E7E7
.border-left
  border-left 1px solid #E7E7E7
.border-right
   border-right 1px solid #E7E7E7
.border-bottom
   border-bottom 1px solid #E7E7E7

.padd-10
  padding:10px;
.padd-20
  padding:20px;
.padd-40
  padding:40px;






