font-size=14px
red=#C4392E
orange=#D68364
blue=#609FA7
darkBlue=#589BEC
blueText=#64A2E8
yellow=#F8B500
white=#ffffff
borderColor=#D8DCE5
backgroundColor= #f6f6f6

/*后台管理*/
bg-color = #1d1b1c;
nav-bg-color = #2e2d2b;
nav-item-bg-color = #2f363e













